server {
    listen 80;
    server_name {{ mediawiki_server_name }} _;

    root {{ mediawiki_install_dir }};
    index index.php index.html index.htm;

    client_max_body_size 20m;

    location / {
        try_files $uri $uri/ @rewrite;
    }

    location @rewrite {
        rewrite ^/(.*)$ /index.php?$1&args last;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:{{ php_fpm_socket }};
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

    location ~* \.(js|css|png|jpg|jpeg|gif|ico|svg)$ {
        try_files $uri /index.php;
        expires 7d;
        access_log off;
    }

    location ~ /\.ht {
        deny all;
    }
}
